* {
   /*border: 1px solid red !important;*/
}

/*pulsating header icon*/
.pulsate {
    -webkit-animation: pulsate 5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.1;
    font-family: 'Satisfy', cursive;
    font-size: 45px;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

h1 {
  padding-left: 28px;
}

h4 {
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

p {
  font-size: 16px;
}

a {
  color: black;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.navbar-default {
  background-color: white;
}

/*reverse bootstrap inherit css for navbar*/
.navbar-default .navbar-nav>li>a {
    color: black;
}

.container-header {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
justify-content: flex-end;
}

.container-menu {
  width: 70%;
  font-weight: bold;
  font-size: 16px;
  /*letter-spacing: 2px;*/
  text-align: right;
  padding-right: 50px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.container-name {
  width: 30%;
}

/*add spacing between header items*/
.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}

#mobile-social {
  display: none;
}

/*image slider as seen at https://www.w3schools.com/bootstrap/bootstrap_carousel.asp*/
.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     /*max-width: 100%;*/
     max-width: 50%;
     max-height: auto;
     margin: auto;
 }

#myCarousel {
  margin-top: 70px;
}

/*hide when clicked on book details*/
.hide-section {
  display: none;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

.img-responsive {
  /*padding-left: 20px;*/
  float: left;
  max-width: 40%;
  max-height: auto;
  margin-right: 10px;
}

.book-title {
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 0px;
}

.book-description {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px;
}

/*<<<<<<<<<< book details page >>>>>>>>>>*/
/***********************************************************************************************************/
.title {
  font-size: 20px;
  padding-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}

.author {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

#details-page {
  margin-top: 40px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-right: 70px;
  background-color: #FAFAFA;
}

#details-img {
  max-width: 100%;
  max-height: auto;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .title {
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .author {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }

  #details-page {
    margin-top: 10px;
    margin-right: 0px;
  }

  #details-img {
    max-width: 50%;
    max-height: auto;
    padding: 0;
/*center an image:*/
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*footer*/
/***********************************************************************************************************/
/*footer {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
}*/

/*footer links on left hand side*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 25px 50px;
	margin-top: 50px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;

}

/*footer 'blackline publishing'*/
.footer-distributed .footer-left {
	color:  #8f9296;
	font-size: 14px;
}

/* Footer links */

/*.footer-distributed p.footer-links{
	font-size:14px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}*/

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

/*footer social media icons*/
.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/*<<<<<<<<<< about site >>>>>>>>>>*/
/***********************************************************************************************************/

#about-section {
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
}

#about-title {
  margin-top: 100px;
  padding-left: 150px;
  font-size: 20px;
  font-weight: bold;
}

#about-subscribe {
  margin-top: 10px;
  padding-left: 150px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px) {
  #about-section {
    margin-left: 0px;
    margin-right: 0px;
  }

  #about-title {
    margin-top: 20px;
    padding-left: 0px;
  }

  #about-subscribe {
    padding-left: 0px;
  }
}

/*<<<<<<<<<< mobile version >>>>>>>>>>*/
/***********************************************************************************************************/
@media (max-width: 767px) {

.container-menu {
  font-size: 130%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.hide-blp {
  display: none;
}

.navbar-nav > li {
  padding-left: 0px;
  padding-right: 0px;
}

/*adjust width of drop down menu in mobile */
.navbar-collapse {
  width: 200px;
}

#mobile-social {
  display:inline-flex;
  list-style: none;
  font-size: 140%;
  margin-top: 130px;
  justify-content: flex-end;
}

li {
  padding-left: 70px;
}

.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     max-width: 100%;
     max-height: auto;
 }

#myCarousel {
  margin-top: 0px;
}

.img-responsive {
  padding-left: 0px;
  float: none;
  max-width: 80%;
  max-height: auto;
}

.book-title {
  padding-left: 10px;
  font-size: 120%;
}

p {
  font-size: 120%;
  margin-bottom: 3em;
}
/*footer*/
	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
